{% extends 'base.html' %}
{% load static %}
{% block title %}Sign Up{% endblock %}
{% block content %}

<!-- Breadcrumb Section Start -->
<section class="breadcrumb-section pt-0">
    <div class="container-fluid-lg">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-contain">
                    <h2>Sign Up</h2>
                    <nav>
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item">
                                <a href="{% url 'home' %}">
                                    <i class="fa-solid fa-house"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item active">Sign Up</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Sign Up Section Start -->
<section class="log-in-section section-b-space">
    <div class="container-fluid-lg w-100">
        <div class="row">
            <div class="col-xxl-6 col-xl-5 col-lg-6 d-lg-block d-none ms-auto">
                <div class="image-contain">
                    <img src="{% static 'assets/images/inner-page/sign-up.png' %}" class="img-fluid" alt="Sign Up Image">
                </div>
            </div>

            <div class="col-xxl-4 col-xl-5 col-lg-6 col-sm-8 mx-auto">
                <div class="log-in-box">
                    <div class="log-in-title">
                        <h3>Welcome to Fastkart</h3>
                        <h4>Create New Account</h4>
                    </div>

                    <div class="input-box">
                        <form action="{% url 'signup' %}" method="POST" class="row g-4">
                            {% csrf_token %}
                            {% if form.non_field_errors %}
                                <div class="alert alert-danger w-100">
                                    {{ form.non_field_errors }}
                                </div>
                            {% endif %}

                            <div class="col-12">
                                <div class="form-floating theme-form-floating">
                                    <label for="id_first_name">First Name</label>
                                    {% for error in form.first_name.errors %}
                                        <small class="text-danger">{{ error }}</small>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-floating theme-form-floating">
                                    <label for="id_last_name">Last Name</label>
                                    {% for error in form.last_name.errors %}
                                        <small class="text-danger">{{ error }}</small>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-floating theme-form-floating">
                                    <label for="id_email">Email Address</label>
                                    {% for error in form.email.errors %}
                                        <small class="text-danger">{{ error }}</small>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-floating theme-form-floating">
                                    <label for="id_password1">Password</label>
                                    {% for error in form.password1.errors %}
                                        <small class="text-danger">{{ error }}</small>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-floating theme-form-floating">
                                    <label for="id_password2">Confirm Password</label>
                                    {% for error in form.password2.errors %}
                                        <small class="text-danger">{{ error }}</small>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="forgot-box">
                                    <div class="form-check ps-0 m-0 remember-box">
                                        <input class="checkbox_animated check-box" type="checkbox" id="termsCheck" required>
                                        <label class="form-check-label" for="termsCheck">
                                            I agree with <span>Terms</span> and <span>Privacy</span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <button class="btn btn-animation w-100" type="submit">Sign Up</button>
                            </div>
                        </form>
                    </div>

                    <div class="other-log-in">
                        <h6>or</h6>
                    </div>

                    <div class="log-in-button">
                        <ul>
                            <li>
                                <a href="#" class="btn google-button w-100">
                                    <img src="{% static 'assets/images/inner-page/google.png' %}" alt=""> Log In with Google
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn google-button w-100">
                                    <img src="{% static 'assets/images/inner-page/facebook.png' %}" alt=""> Log In with Facebook
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="sign-up-box">
                        <h4>Already have an account?</h4>
                        <a href="{% url 'login' %}">Log In</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Sign Up Section End -->

{% endblock %}
